<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <title>My Page</title>
</head>
<body>

<div th:replace="~{header :: content}"></div>

<div class="container">
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <h1>Product create Form</h1>
            <form
                    class="form-horizontal"
                    method="post"
                    role="form"
                    th:action="@{/addProduct}"

            >
                <input type="hidden" name="shopId" th:value="${shopId}" />
                <input type="hidden" name="id" th:value="${productForm.id}" />
                <div class="mb-3">
                    <label class="form-label" for="name">Product name</label>
                    <input th:value="${productForm.name}" class="form-control" id="name" name="name" placeholder="Enter product name"
                           type="text" required maxlength="20">
                </div>
                <div class="mb-3">

                    <label class="form-label" for="description">Description</label>
                    <input th:value="${productForm.description}" class="form-control" id="description" name="description" placeholder="Enter description"
                           type="text" maxlength="100">
                </div>
                <div class="mb-3">

                    <label class="form-label" for="price">Price</label>
                    <input th:value="${productForm.price}" class="form-control" id="price" name="price" placeholder="Enter a price"
                           type="number" required maxlength="20">
                </div>
                <div class="mb-3">

                    <label class="form-label" for="amountInStore">Amount</label>
                    <input th:value="${productForm.amountInStore}" class="form-control" id="amountInStore" name="amountInStore" placeholder="Enter amount"
                           type="number" required maxlength="5">
                </div>
                <div class="mb-3">

                    <label class="form-label" for="keywordsString">Keywords</label>
                    <input th:value="${productForm.keywordsString}" class="form-control" id="keywordsString" name="keywordsString" placeholder="Enter keywords"
                           type="text"maxlength="100">
                </div>
                <div class="mb-3">

                    <label class="form-label" for="characteristicsString">Characteristics</label>
                    <input th:value="${productForm.characteristicsString}" class="form-control" id="characteristicsString" name="characteristicsString" placeholder="Enter characteristics"
                           type="text" maxlength="100">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary mb-3" type="submit">Create product</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>