<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="admin">
  <ul class="nav-admin">
    <li class="item-admin" onclick="window.location.href='/admin/users'">
      <a href="#">Users</a>
    </li>
    <li class="item-admin" onclick="window.location.href='/admin/shops'">
      <a href="#">Shops</a>
    </li>
    <li class="item-admin" onclick="window.location.href='/admin/moderation'">
      <a href="#">Moderation</a>
    </li>
    <li class="item-admin" onclick="window.location.href='/admin/section2'">
      <a href="#">Раздел 2</a>
    </li>
  </ul>
</div>
</body>
</html>











